<form [formGroup]="CarEditForm">
  <label>CarName</label>
  <input
    type="text"
    placeholder="enter the car name"
    formControlName="carname"
  />
  <br />
  <label>CarFuel Type</label>
  <select formControlName="carfuel">
    <option value="petrol">Petrol</option>
    <option value="electric">Electric</option>
    <option value="diesel">Diesel</option>
  </select>
  <br />
  <button
    (click)="onadd(CarEditForm.value.id, CarEditForm.value)"
    [disabled]="!CarEditForm.valid"
  >
    Updatecar
  </button>
</form>
