<form [formGroup]="CarEditForm">
  <label>CarName</label>
  <input
    type="text"
    placeholder="enter the car name"
    formControlName="carname"
  />
  <br />
  <select formControlName="carfuel">
    <option>Select Fuel Type</option>
    <option
      *ngFor="let fuelType of carFacade.carFuel$ | async"
      [value]="fuelType.id"
    >
      {{ fuelType.fuelname }}
    </option>
  </select>

  <button
    (click)="onadd(CarEditForm.value.id, CarEditForm.value)"
    [disabled]="!CarEditForm.valid"
  >
    Updatecar
  </button>
</form>
