<div>
  <button routerLink="addtodos">Add</button>
  <router-outlet></router-outlet>
  <table>
    <tr>
      <th>Id</th>
      <th>Task</th>
      <th>Duration Days</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let todo of todoFacde.todolist$ | async">
      <td>{{ todo.id }}</td>
      <td>{{ todo.task }}</td>
      <td>{{ todo.duration }}</td>
      <td><button (click)="onDelete(todo.id ?? 0)">Delete</button></td>
      <td><button [routerLink]="['Todoedit', todo.id]">Edit</button></td>
    </tr>
  </table>
</div>
