<div>
  <button routerLink="add">add user</button>
  <router-outlet></router-outlet>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    <tr *ngFor="let User of userFacade.Userlist$ | async">
      <td>{{ User.id }}</td>
      <td>{{ User.name }}</td>
      <td>{{ User.surname }}</td>
      <td><button [routerLink]="['edit', User.id]">Edit</button></td>
      <td><button (click)="onuserdelete(User.id ?? 0)">Delete</button></td>
    </tr>
  </table>
</div>
