<div>
  <button routerLink="addcar">Add</button>
  <router-outlet></router-outlet>
  <table>
    <tr>
      <th>Id</th>
      <th>Car name</th>
      <th>car fule</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let car of carFacde.Carlist$ | async">
      <td>{{ car.id }}</td>
      <td>{{ car.carname }}</td>
      <td>{{ car.carfule }}</td>
      <td><button (click)="onDelete(car.id ?? 0)">Delete</button></td>
      <td><button [routerLink]="['caredit', car.id]">Edit</button></td>
    </tr>
  </table>
</div>
